<nav class="navbar navbar-default navbar-fixed-top header-background">
  <div class="container centered-column">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="centered-column">
      <ul class="nav navbar-nav">
        <li><a href="#home" class="active" >HOME</a></li>
          <li class="brand-holder">
            <a class="navbar-brand" href="#home"><img src="/images/flag-dark.png"/></a>
          </li>
        <li><a href="/about.html">ABOUT</a></li>
      </ul>
    </div>
  </div>
</nav>