body {
  font-family: 'Lato', 'Helvetica', 'san-serif';
  color: #313131;
}

section {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
section .container {
  padding-top: 40px;
}
.white-overlay {
  background-color: rgba(255,255,255, 0.75);
  min-height: 100vh;
  width: 100%;
}
.black-overlay {
  background-color: rgba(0,0,0, 0.25);
  min-height: 100vh;
  width: 100%;
}
.decade-header {
  border-top: 1px solid black;
  background-color: rgb(240, 240, 240);
  z-index: 300;
}
.decade-header h2 {
  margin-right: 6px;
}

#home {
  z-index: 101;
  background-image: url("../img/fdr-desk.jpg");
  background-position-x: center;
  background-position-y: top;
  color: white;
  text-align: center;
}
#home h1 {
  font-size: 56px;
  margin-top: 400px;
}
#home h3 {
  line-height: 36px;
}
#intro {

}
#intro h1 {
  margin-top: 100px;
}
#intro p {
  font-size: 20px;
  margin-top: 30px;
}
#D1920 {
  background-image: url("../img/cpusa-rally-1931.png");
}
#D1930 {
  background-image: url("../img/fdr-flag-rally.jpg");
}
#D1940 {
  background-image: url("../img/yalta-just-3.jpg");
  background-position-x: center;
  background-position-y: top;
}
#D1950 {
  background-image: url("../img/ike-and-dick.jpg");
}
#D1960 {
  background-image: url("../img/jfk-hoover.jpg");
}
#D1970 {
  background-image: url("../img/jane-fonda.jpg");
}
#D1980 {
  background-image: url("../img/reagan-rally.jpg");
  background-position-x: center;
  background-position-y: top;
}
#D1990 {
  background-image: url("../img/clinton-wave.jpg");
  background-position-x: 75%;
  background-position-y: top;
}
#D2000 {
  background-image: url("../img/mission-accomplished.jpg");
  filter: grayscale();
}
#D2010 {
  background-image: url("../img/three-stooges.png");
  background-position-x: 75%;
  background-position-y: top;
  filter: grayscale();
}

.center-line {
  position: absolute;
  top: 0px;
  left: calc(50% - 4px);
  width: 2px;
  background-color: #313131;
  min-height: 100vh;
  height: 100%;
  z-index: 100;
}
.hash-mark {
  position: absolute;
  left: calc(50% - 10px);
  width: 15px;
  height: 1px;
  background-color: #313131;
  border-radius: 1px;
}
.hash1 { top: 10%; }
.hash2 { top: 20%; }
.hash3 { top: 30%; }
.hash4 { top: 40%; }
.hash5 {
  top: 50%;
  left: calc(50% - 13px);
  width: 21px;
  height: 3px;
}
.hash6 { top: 60%; }
.hash7 { top: 70%; }
.hash8 { top: 80%; }
.hash9 { top: 90%; }

/* .brand-holder {
  border-left: 90px solid transparent;
  border-right: 90px solid transparent;
  
  border-top: 60px solid #313131;
} */

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  margin: 0;
  padding: 0;
}
.navbar-brand img {
  height: 120px;
  width: 200px;
}

.navbar .navbar-nav {
  display: flex;
}
.navbar-nav {
  margin: 0px;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

footer {
  padding: 30px 0px;
}

@media (min-width: 768px) {
  .navbar-nav>li>a {
    padding: 5px 8px;
    margin: 10px 7px;
  }
}

@media (max-width: 767px) {
  #home h1 {
    margin-top: 300px;
  }
  .centered-column>.navbar-center>.brand-holder {
    display: none;
  }
}

.entry {
  width: 40%;
  position: relative;
}
.entry-title {
  margin: 23px 0px 2px;
}
.entry-summary {
  display: none;
  position: absolute;
  padding: 5px 12px;
  margin-left: 5px;
  background: white;
  border: 1px solid #313131;
  border-radius: 3px;
  z-index: 100;
}
.entry:hover .summary {
  display: block;
}



/* .active {
  border-bottom: 2px solid #f49b1d;
} */

.centered-text {
  text-align: center;
}

/* FLEX */
.centered-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-column {
  display: flex;
  flex-direction: column;
}

.right-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.row-bottom {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.space-between-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: top;
}

.centered-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.space-around-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a5a5a5;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #a5a5a5;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: #a5a5a5;
}

@media (max-width: 372px) {
  .navbar-brand img {
    height: 70px;
    width: 120px;
  }
}

#loading-screen {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(0deg, #a7a7a7 0%, #dadada 100%);
  position: fixed;
  z-index: 100;
  justify-content: center;
}

.spinner {
  height: 300px;
  width: 300px;
}

#loading-screen img {
  height: 100px;
  width: 200px;
}
